$bg-color: rgb(242, 245, 249);
@font-face {
  font-family: roboto-regular;
  src: url('src/assets/fonts/Roboto-Regular.ttf') format('truetype');
}
html {
  font-family: 'roboto-regular', sans-serif;
  color: var(--text);
}
body {
  background: $bg-color;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-corner {
  background: #d4d4d4;
}

::-webkit-scrollbar-thumb {
  background: #f3f3f3;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  border: 1px solid #efecec;
}
