.container {
  padding: 8px;
  border-right: 1px solid #dbdbdb;
  height: 100vh;
}

.logo {
  height: 50px;
}
.navLink {
  text-decoration: none;
  .icon {
    display: block;
  }
  .item-name {
    color: var(--mui-palette-text-primary);
  }
  // .iconActive {
  //   display: none
  // }

  // &.active {
  //   font-weight: 500;
  //   .icon {
  //   display: none
  //   }
  //   .iconActive{
  //     display: block
  //   }
  // }
}
